body {
    text-align: center;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
    cursor: pointer;
}

.searchbar {
    border-radius: 5px;
    margin: 0 10px;
    vertical-align: middle;
    width: 150px;
    height: 30px;
}

.searchbtn {
    border-radius: 10px;
    background-color: deepskyblue;
    color: #fff;
    border: none;
    padding: 6px;
    width: 80px;
    font-size: smaller;
    /*font-weight: 700;*/
}

.content {
    margin: 10px 0;
}

.main-node {}

a {
    color: #337ab7 !important;
    text-decoration: none !important;
}

a:focus,
a:hover {
    color: #23527c !important;
    text-decoration: underline !important;
}

#githubLogo {
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 10%;
}

.logo-img {
    height: 100px;
    margin-right: 20px;
}
